# Build Directories & Artifacts
/build/
/Release/
CMakeCache.txt
CMakeFiles/
*.cmake
*.pyd
*.lib
*.exp
*.exe

# Python Virtual Environment
/Astarpathfinder/

# Python Packaging / Setuptools
*.egg-info/
/dist/
/build/
.eggs/

# IDE Settings
.vscode/